@import "variable.scss";

.headerRow {
	.logoCol {width: 99%; float: left;}
	.navCol {width: 1%; float: left;}
	.socialCol {width: 49%; float: right;}
}
.logo {margin: 8px 0px 3px 35px; text-align: center; position: relative; 
	a {display: inline-block;  max-width: 100%;}
	img {min-height: 30px; display: block;}
	.mobileBtn {position: absolute; left: -25px; top: 10px;border:none;background: none; width: 20px; height: 18px; padding: 0px;}
}
.mainNav {position: relative;font-family: 'heebomedium', Arial; text-transform: uppercase;}
.socialIcons { text-align: right; margin: 18px 0px 10px 0px;
	li {display: inline-block; margin-left: 6px;
		a {display:block; width: 20px; height: 20px; border-radius: 4px;
			background: url(../images/social.svg) no-repeat -1px -1px;
		}
		.facebook {background-position: -31px -1px;}
		.google {background-position: -61px -1px;}
		.youtube {background-position: -91px -1px;}
	}
}


@media (min-width: 768px) {
	.socialIcons li a {transition: all 0.3s linear;
		&:hover {filter:grayscale(1);}
	} 
}

@media (min-width: 1201px) {
	/*for desktop navigation*/
	.headerRow {
		.logoCol {width: 15.2%; }
		.navCol {width: 73%; }
		.socialCol {width: 11.6%;}
	}
	.mobileBtn {display: none;}
	.logo {margin: 9px 0px 4px 0px;}
	.mobileNavLogo {display: none;}
	.navigation>ul {
		&>li {display: inline-block;
			&>a {display: inline-block;letter-spacing: 0.8px;color: #2C425D;font-size: 14px;line-height: 21px; padding: 19px 16px; position: relative;
				&:before {content:""; position: absolute; bottom: 0px; left: 53%; width: 0px; height: 2px; background:$red; transition: all 0.2s linear;}
			}
			&.active>a, &:hover>a {color: $red;
				&:before {width: 84%; left:8%;}
			}
		}
		/*li.hasChild>a {position: relative; padding-right: 13px;
			&:after {content: "";position: absolute;right: 0px; top: 30px; width: 0px; height: 0px;
			border:solid 5px transparent; border-top-color:#ccc; opacity: 0.7;}
			&:hover:after {opacity: 1;}
		}*/
	}
	/*.subMenu {background-color: #fff;
	    border: 1px solid #f4f4f4; border-top: none; box-shadow: 0px 5px 8px rgba($black,0.2);
	    display: block;left: 0;list-style: none;margin: 20px 0 0;
	    opacity: 0;padding: 10px 0; position: absolute;visibility: hidden;
	    width: 220px;z-index: 13;
		li {border-bottom: 0 solid #f4f4f4;position: relative;
    		a {color: #444; display: block;font-size: 13px;padding: 8px 20px;
			    text-transform: capitalize;transition: all .15s linear;}
		}
	}
	li.hasChild:hover .subMenu {opacity: 1; visibility: visible;margin-top: 0;
		transition: all .5s ease}
	.subMenu li {
		a:hover {background-color: #F2F2F2;color: $red;}
		&.active {
			a {background-color: #F2F2F2;color: $red;}
		}
	}*/

	.mobileNavSocial {display: none;}

}
@media (min-width: 1290px) {
	.navigation > ul > li > a {padding: 19px;}
}
@media (max-width: 1200px) {
	/*for mobile navigation*/
	.mobileBtn span {display: block; height: 2px; background:#333; width: 100%;}
	.mobileBtn span:nth-child(2) {margin-top: 6px;}
	.mobileBtn span:nth-child(3) {margin-top: 6px;}
	.mobileNavLogo {display: inline-block; max-width: 100%; padding: 15px 15px 10px; background-color: #131d69; width: 100%;}
	.overLay {background: rgba($black,.5); position: fixed; left: 0px;top: 0px; height: 100%; width: 100%; z-index: 12; display: none;}
	.navigation {position: fixed; left: -270px; top: 0px; height: 100%; z-index: 13; overflow-y: auto; width: 270px; 
		background: $white; margin: 0px; transition: left 0.2s linear;
		&>ul {
			&>li {font-size: 14px;
				&>a {position: relative;display: block; padding:10px 15px; color: #2C425D; text-transform: capitalize; letter-spacing: 1px; border-bottom: solid 1px #E6ECF7;} 
			}
		}
	}
	
	.openNav {overflow: hidden;}
	.openNav .overLay {display: block;}
	.openNav .navigation {left: 0px;}
	/*li.hasChild {
		&>a {padding-right:20px; border-radius:0px;}
		&>a:after{border: 1px solid #999999; border-width: 0 0 2px 2px; content: ""; position: absolute; width: 8px; height: 8px; transform: rotate(225deg); display: block; right: 17px; top: 50%; margin: -1px 0 0 -2px;}
		&.openSubMenu>a:after {transform: rotate(314deg);}
	}
	.subMenu {display: none;
		li a {display: block; padding: 18px 16px; text-transform: capitalize; color: #333; font-family: 'open_sansregular';}
	}*/
	.navigation ul.mobileNavSocial {margin: 15px 8px; text-align: left;
		li {margin-left: 10px; margin-right: 10px;
			a {border:none; padding: 0px; width: 30px;height: 30px; background-size: auto 33px;}
			a.facebook {background-position: -47px -1px;}
			a.google {background-position: -92px -1px;}
			a.youtube {background-position: -137px -1px;}
		}
	}
	.headerRow .socialCol {display: none;}
}
